* {
  margin: 0;
  /*바깥쪽 여백 : 0*/
  padding: 0;
  /*안쪽 여백 : 0*/
  box-sizing: border-box;
  /*테두리두께 무시*/
}

html {
  scroll-behavior: smooth;
  /*스크롤 스르륵할 수 있게*/
}

a {
  text-decoration: none;
  /*밑줄 제거*/
  display: block;
  /*a태그를 블록요소로 변경*/
  color: black;
  /*글자색 : black*/
}

li {
  list-style-type: none;
  /*li태그 기호 제거*/
}













  .container {
    width: 100%;
    height: 1200px;
  background-color: #f0f7f7;
  }

  .header{
    width: 100%;
    height: 200px;

    border-bottom: 1px solid black;
  }

  .logo{
    width: 100%;
    height: 100px;

    text-align: center;
    transition: 0.3s;
    font-family: 'Times New Roman', Times, serif;
  }
  .logo h1{
    font-size: 50px;
    margin-top: 30px;
  }
  .logo h2{
    font-size: 20px;
    margin-bottom: 5px;
  }
  .logo:hover{
  color: hsl(202, 100%, 71%);
  }


  .menu{
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;

    margin-top: 20px;
  }

  .menu li {
    width: 25%;
    text-align: center;
    margin: 0 30px; /* 좌우 간격 설정 */

    font-weight: bold;
}

.menu li a {
    color: black;
    transition: 0.3s;
  }
  
  .menu li a:hover {
    color: hsl(202, 100%, 71%);
  }


  .main{
    width: 1200px;
    height: 800px;
    margin: 0 auto;

    margin-top: 150px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
  }

  .main h1 {
    font-size: 50px;
    margin-bottom: 40px;
    cursor:default;
  }
  
  .main h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  
  .main p {
    font-size: 30px;
    margin-bottom: 60px;
  }
  
  .main button {
    font-size: 20px;
    width: 150px;
    height: 50px;
  
    border: 1px solid black;
    border-radius: 30px;
    background-color: transparent;
  
  
    color: black;
    transition: 0.3s;
  }
  
  .main button:hover {
    border: 1px solid  hsl(202, 100%, 71%);
    color:   hsl(202, 100%, 71%);
  }











  .about{
    width: 1200px;
    height: 800px;

    margin: 0 auto;
    margin-top: 100px;
  }

 
  .about h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;

    padding-top: 50px;
  }

  .about .contents {
    width: 100%;
    height: 500px;
  
    display: flex;
  
  }
  .about .left{
    width: 500px;
  height: 700px;
  margin-right: 60px;
  font-family: 'Times New Roman', Times, serif;
  }

  .about .left h3 {
    color:black;
    font-size: 20px;
  }
  
  .about .left li {
    font-size: 22px;
    margin-top: 8px;
  }

  .about .right {
    width: 450px;
    height:550px;

    padding-left: 200px;
  }
  
  .about .right img {
    width: 450px;
    height: 550px;
  }

  .about .leftdown {
    display: flex;
    margin-top: 20px;
    
  }
  .about i{
    font-size: 30px;
    margin-right: 10px;
  }
  .fa-brands {
    font-size: 20px;
    margin-right: 6px;
  }
  
  .fa-youtube {
    color: red;
  
  }
  
  .fa-facebook {
    color: #3b5998;
  }











  
.skills {
    width: 100%;
    /*따로 써줄 필요는 없다*/
    height: 700px;
    background-color: #e7f1f1;
  }
  
  .skills-inner {
    width: 1200px;
    height: 500px;
  
    margin: 0 auto;
    padding-top: 60px;
  }
  

  .skills h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;

    margin-top: 50px;
  }
  
  .skills .contents {
    width: 100%;
    height: 300px;
    margin-top: 50px;
  
    display: flex;
    justify-content: space-around;
  }
  
  .skills .contents li {
    width: 350px;
    height: 300px;
    background-color: white;
  
    padding: 10px;
  
    transition: 0.3s;
  }
  
  .skills h3 {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
  }

  
  .skills p {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
  
  }
  
  .skills i {
    color: hsl(202, 100%, 71%);

    font-size: 40px;
  }

  .skills img{
    margin-top: 20px;
    width: 300px;
    height: 200px;
    
    display: block;
    margin: 0 auto;
  }

  .projects .testy p{
    margin-left: 20px;
  }
  
  .skills .testy{
    display: flex;
  }
  
  .skills .contents li:hover {
    background-color: hsl(202, 100%, 71%);
    color: white;
  
    transform: scale(1.1);
    /*transform: rotate(360deg);*/
  }
  
  .skills .contents li:hover i {
    color: white;
  }











  .bg {
    width: 100%;
    height: 800px;
    background: url(bg2.png) no-repeat;
    background-size: cover;
  
  
    background-attachment: fixed;
  }












  
  .projects {
    height: 1200px;
  }
  .projects .test{
    display: flex;
  }
  .projects .test p{
    margin-left: 20px;
  }
  .projects img{
    margin-top: 20px;
    width: 300px;
    height: 200px;
    
    display: block;
    margin: 0 auto;
  }











  .contact {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  
  .contact h1 {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;

    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .contact .contents {
    width: 1200px;
    height: 600px;
    display: flex;
  }
  
  .contact .left {
    width: 400px;
    height: 600px;
  }
  
  .contact .right {
    width: 800px;
    height: 600px;
    border-left: 2px dashed #f1efef;
    padding-left: 50px;
  }
  
  .info li {
    width: 350px;
    height: 80px;
    
  
    margin-bottom: 20px;
    border: 1px solid #ecebeb;
  
    padding: 10px;
    font-size: 23px;
    font-weight: bold;
  }
  
  
  .contact .right p {
    font-size: 25px;
  }
  
  .contact .right input {
    width: 700px;
    height: 30px;
    margin-bottom: 30px;
  
    border: 1px solid #f0f0f0;
  }
  
  .contact .right textarea {
    width: 700px;
    height: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    resize: both;
  }
  
  .contact .right button {
    width: 700px;
    height: 30px;
    background-color: hsl(202, 100%, 71%);
    color: white;
  }

